<!DOCTYPE html>
<html>
<head>
  <title>Multiplefileuplad</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
</head>
<body>
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_google_plusone" style="cursor:pointer" g:plusone:size="standard"></a>
<a class="addthis_button_preferred_1" style="cursor:pointer"></a>
<a class="addthis_button_preferred_2" style="cursor:pointer"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-504f907623f6d4d0"></script>

<%= yield %>

</body>
</html>
